* {
    box-sizing: border-box;
    font-family: 'PT Serif', serif;
}

body {
    background-color: lemonchiffon;
}

header {
    text-align: center;
    padding-top: 15px;
}

#venmo {
    font-size: 2rem;
    padding: 0;
    text-decoration: none;
}

#weezer {
    width: 400px;
    height: 300px;
}

#artist {
    text-decoration: none;
}

#uber {
    text-decoration: none;
}

#cafe-link-site {
    text-decoration: dashed;
}

.slides {
    font-size: 1.25rem;
    /* height: 1069px; */
    width: 400px;
    border: solid 10px black;
    background-color: aliceblue;
}