* {
    box-sizing: border-box;
    font-family: 'PT Serif', serif;
}

body {
    background-color: lemonchiffon;
}

header {
    text-align: center;
    padding-top: 15px;
}

#venmo {
    font-size: 2rem;
}

a {
    text-decoration: none;
}

.slides {
    font-size: 1.25rem;
}