* {
    box-sizing: border-box;
    font-family: 'PT Serif', serif;
}

body {
    background-color: lemonchiffon;
}

header {
    text-align: center;
    padding-top: 15px;
}

#dd {
    font-size: 44px;
}

#everyone {
    font-size: 44px;
}

.miniplayer {
    margin-top: 23px;
    margin-bottom: 23px;
}

#venmo {
    font-size: 2rem;
    padding: 0;
    text-decoration: none;
}

#vinyl {
    font-size: 1.25rem;
}

#group-list {
    list-style: none;
    font-size: 1.3rem;
    line-height: normal;
}

li {
    margin-bottom: 10px;
}

#weezer {
    width: 400px;
    height: 300px;
}

#links {
    text-decoration: none;
}

#artist {
    text-decoration: none;
}

#uber {
    text-decoration: none;
}

#cafe-link-site {
    text-decoration: dashed;
}

.slides {
    font-size: 1.25rem;
    /* height: 1069px; */
    width: 400px;
    border: solid 10px black;
    background-color: aliceblue;
    padding: 10px;
}